---
import Banner from '../../components/Banner.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Extension" description=".">
    <Banner
        title="Extensión"
        description="Arte, historia y cultura: territorios y prácticas en la Provincia de Buenos Aires."
        showButton={false}
    />
    <section>
        <h2 class="titulo">Historia del Arte Bonaerense</h2>
        <p class="font-cuerpo text-xl p-2 text-gray-700 leading-relaxed">
            En 2025 se dictó el curso de actualización sobre historia del arte
            bonaerense destinado a docentes y estudiantes de artes, ciencias
            humanas y sociales; artistas, gestores culturales, trabajadores de
            la cultura y el turismo, trabajadores de instituciones artísticas y
            culturales y público interesado. La docente que desarrolló y dictó
            el curso es María Guadalupe Suasnabar, Doctora y Magíster en
            Historia del Arte Argentino y Latinoamericano, docente e
            Investigadora de la Universidad Nacional del Centro.
            <p>
                Proyecto financiado por el Fondo Nacional de las Artes y la
                Municipalidad de Bolivar.
            </p>
        </p>
    </section></BaseLayout
>
